.container{
    width: 950px;
    height: 100%;
}

.form{
    width: 950px;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}


.form div{
    width: 150px;
}


input {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .parag{
    width: 950px;
    background-color: #111619;
    border-radius: 0.5rem;
    text-align: left;
    font-size: 1.3rem;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
  }
